span
	if !homepage
		a(href='/')
			h1.headerH1 Passwordless
	nav
		ul
			li
				a(href='/getstarted') Getting started
			li
				a(href='/deepdive') Deep dive
			li
				a(href='/api') API
			li
				a(href='/about') About
	div
		if user
			a(href='/users/edit')
				img(src='https://www.gravatar.com/avatar/#{user.md5}?s=50&d=retro')
				p #{user.username || user.email} 
			a(href='/account/logout') Logout
	div
		p
			a(href='https://github.com/florianheinemann/passwordless') GitHub