span
	nav.top-bar(data-topbar)
		ul.title-area
			li.name
				h1
					a(href='/') Passwordless
			li.toggle-topbar.menu-icon
				a(href='#')
					span Menu
		section.top-bar-section
			ul.left
				li
					a(href='/getstarted') Getting started
				li
					a(href='/deepdive') Deep dive
				li
					a(href='/api') API
				li
					a(href='https://github.com/florianheinemann/passwordless') GitHub
				li
					a(href='/about') About
			if user
				ul.right
					li
						a(href='/users/edit')
							img(src='https://www.gravatar.com/avatar/#{user.md5}?s=45&d=retro')
					li
						a(href='/users/edit') #{user.username || user.email} 
					li
						a(href='/account/logout') Logout