<h2 id="deep-dive">Deep dive</h2>
<h3 id="logout">Logout</h3>
<p>Just call <code>passwordless.logout()</code> as in:</p>
<pre><code class="lang-javascript">router.<span class="hljs-keyword">get</span>(<span class="hljs-string">'/logout'</span>, passwordless.logout(),
    <span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">(req, res)</span> {</span>
        res.redirect(<span class="hljs-string">'/'</span>);
});
</code></pre>
<h3 id="redirects">Redirects</h3>
<p>Redirect non-authorized users who try to access protected resources with <code>failureRedirect</code> (default is a 401 error page):</p>
<pre><code class="lang-javascript">router.<span class="hljs-keyword">get</span>(<span class="hljs-string">'/restricted'</span>, passwordless.restricted({ failureRedirect: <span class="hljs-string">'/login'</span> });
</code></pre>
<p>Redirect unsuccessful login attempts with <code>failureRedirect</code> (default is a 401 or 400 error page):</p>
<pre><code class="lang-javascript">router.post(<span class="hljs-string">'/login'</span>, passwordless.requestToken(<span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">(user, delivery, callback)</span> {</span>
    <span class="hljs-comment">// identify user</span>
}, { failureRedirect: <span class="hljs-string">'/login'</span> }),
    <span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">(req, res)</span>{</span>
        <span class="hljs-comment">// success</span>
});
</code></pre>
<h3 id="error-flashes">Error flashes</h3>
<p>Flashes are error messages that are pushed to the user e.g. after a redirect to display more details about an issue e.g. an unsuccessful login attempt. You need flash middleware such as <a href="https://www.npmjs.org/package/connect-flash">connect-flash</a>.</p>
<p>You can use them in any situation where you can use <code>failureRedirect</code> (see above). However, they can never be used without <code>failureRedirect</code>. As an example:</p>
<pre><code class="lang-javascript">router.post(<span class="hljs-string">'/login'</span>, passwordless.requestToken(<span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">(user, delivery, callback)</span> {</span>
    <span class="hljs-comment">// identify user</span>
}, { failureRedirect: <span class="hljs-string">'/login'</span>, failureFlash: <span class="hljs-string">'This user is unknown!'</span> }),
    <span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">(req, res)</span>{</span>
        <span class="hljs-comment">// success</span>
});
</code></pre>
<p>The error flashes are pushed onto the <code>passwordless</code> array. Check out the <a href="https://github.com/jaredhanson/connect-flash">connect-flash docs</a> of to pull the error messages, but a typical scenario could look like this:</p>
<pre><code class="lang-javascript"><span class="hljs-transposed_variable">router.</span>get(<span class="hljs-string">'/mistake'</span>,
    <span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">(req, res)</span> {</span>
        var errors = <span class="hljs-transposed_variable">req.</span>flash(<span class="hljs-string">'passwordless'</span>), errHtml;
        <span class="hljs-keyword">for</span> (var <span class="hljs-built_in">i</span> = <span class="hljs-transposed_variable">errors.</span><span class="hljs-built_in">length</span> - <span class="hljs-number">1</span>; <span class="hljs-built_in">i</span> &gt;= <span class="hljs-number">0</span>; <span class="hljs-built_in">i</span>--) <span class="hljs-cell">{
            errHtml += <span class="hljs-string">'&lt;p&gt;'</span> + errors[i] + <span class="hljs-string">'&lt;/p&gt;'</span>;
        }</span>
        <span class="hljs-transposed_variable">res.</span>send(<span class="hljs-number">200</span>, errHtml);
});
</code></pre>
<h3 id="2-step-authentication-e-g-for-sms-">2-step authentication (e.g. for SMS)</h3>
<p>For some token-delivery channels you want to have the shortest possible token (e.g. for text messages). One way to do so is to transport only the token while keeping the UID in the session. In such a scenario the user would type in his phone number, hit submit, be redirected to another page where she has to type in the received token, and then hit submit another time. To achieve this, requestToken stores the requested UID in <code>req.passwordless.uidToAuth</code>. Putting it all together, take the following steps:</p>
<p><strong>1: Read out <code>req.passwordless.uidToAuth</code></strong></p>
<pre><code class="lang-javascript"><span class="hljs-comment">// Display a new form after the user has submitted the phone number</span>
router.post(<span class="hljs-string">'/sendtoken'</span>, passwordless.requestToken(<span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">(<span class="hljs-rest_arg">...) { },
    function</span>(req, res)</span> {</span>
      res.render(<span class="hljs-string">'secondstep'</span>, { uid: req.passwordless.uidToAuth });
});
</code></pre>
<p><strong>2: Display another form to submit the token submitting the UID in a hidden input</strong></p>
<pre><code class="lang-html"><span class="hljs-tag">&lt;<span class="hljs-title">html</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">body</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">h1</span>&gt;</span>Login<span class="hljs-tag">&lt;/<span class="hljs-title">h1</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">p</span>&gt;</span>You should have received a token via SMS. Type it in below:<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">form</span> <span class="hljs-attribute">action</span>=<span class="hljs-value">"/auth"</span> <span class="hljs-attribute">method</span>=<span class="hljs-value">"POST"</span>&gt;</span>
            Token:
            <span class="hljs-tag">&lt;<span class="hljs-title">br</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-title">input</span> <span class="hljs-attribute">name</span>=<span class="hljs-value">"token"</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"text"</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">input</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"hidden"</span> <span class="hljs-attribute">name</span>=<span class="hljs-value">"uid"</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">""</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">br</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-title">input</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"submit"</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"Login"</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">form</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">body</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">html</span>&gt;</span>
</code></pre>
<p><strong>3: Allow POST to accept tokens</strong></p>
<pre><code class="lang-javascript">router.post(<span class="hljs-string">'/auth'</span>, passwordless.acceptToken({ allowPost: <span class="hljs-literal">true</span> }),
    <span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">(req, res)</span> {</span>
        <span class="hljs-comment">// success!</span>
});
</code></pre>
<h3 id="successful-login-and-redirect-to-origin">Successful login and redirect to origin</h3>
<p>Passwordless supports the redirect of users to the login page, remembering the original URL, and then redirecting them again to the originally requested page when the token has been submitted. Due to the many steps involved, several modifications have to be undertaken:</p>
<p><strong>1: Set <code>originField</code> and <code>failureRedirect</code> for passwordless.restricted()</strong></p>
<p>Doing this will call <code>/login</code> with <code>/login?origin=/admin</code> to allow later reuse</p>
<pre><code class="lang-javascript">router.<span class="hljs-keyword">get</span>(<span class="hljs-string">'/admin'</span>, passwordless.restricted( { originField: <span class="hljs-string">'origin'</span>, failureRedirect: <span class="hljs-string">'/login'</span> }));
</code></pre>
<p><strong>2: Display <code>origin</code> as hidden field on the login page</strong></p>
<p>Be sure to pass <code>origin</code> to the page renderer.</p>
<pre><code class="lang-html">&lt;form action=<span class="hljs-string">"/sendtoken"</span> <span class="hljs-keyword">method</span>=<span class="hljs-string">"POST"</span>&gt;
    Token:
    &lt;br&gt;&lt;input name=<span class="hljs-string">"token"</span> <span class="hljs-class"><span class="hljs-keyword">type</span>=</span><span class="hljs-string">"text"</span>&gt;
    &lt;input <span class="hljs-class"><span class="hljs-keyword">type</span>=</span><span class="hljs-string">"hidden"</span> name=<span class="hljs-string">"origin"</span> <span class="hljs-keyword">value</span>=<span class="hljs-string">""</span>&gt;
    &lt;br&gt;&lt;input <span class="hljs-class"><span class="hljs-keyword">type</span>=</span><span class="hljs-string">"submit"</span> <span class="hljs-keyword">value</span>=<span class="hljs-string">"Login"</span>&gt;
&lt;/form&gt;
</code></pre>
<p><strong>3: Let <code>requestToken()</code> accept <code>origin</code></strong></p>
<p>This will store the original URL next to the token in the TokenStore.</p>
<pre><code class="lang-javascript">app.post(<span class="hljs-string">'/sendtoken'</span>, passwordless.requestToken(<span class="hljs-keyword">function</span>(<span class="hljs-keyword">...</span>) { }, 
    { originField: <span class="hljs-string">'origin'</span> }),
    <span class="hljs-keyword">function</span>(req, res){
        // successfully sent
});
</code></pre>
<p><strong>4: Reconfigure <code>acceptToken()</code> middleware</strong></p>
<pre><code class="lang-javascript"><span class="hljs-tag">app</span><span class="hljs-class">.use</span>(<span class="hljs-tag">passwordless</span><span class="hljs-class">.acceptToken</span>( <span class="hljs-rules">{ <span class="hljs-rule"><span class="hljs-attribute">enableOriginRedirect</span>:<span class="hljs-value"> true </span></span></span>} ));
</code></pre>
<h3 id="several-delivery-strategies">Several delivery strategies</h3>
<p>In case you want to use several ways to send out tokens you have to add several delivery strategies as shown below:</p>
<pre><code class="lang-javascript">passwordless.addDelivery(<span class="hljs-string">'email'</span>, <span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">(tokenToSend, uidToSend, recipient, callback)</span> {</span>
    <span class="hljs-comment">// send the token to recipient</span>
});
passwordless.addDelivery(<span class="hljs-string">'sms'</span>, <span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">(tokenToSend, uidToSend, recipient, callback)</span> {</span>
    <span class="hljs-comment">// send the token to recipient</span>
});
</code></pre>
<p>To simplify your code, provide the field <code>delivery</code> to your HTML page which submits the recipient details. Afterwards, <code>requestToken()</code> will allow you to distinguish between the different methods:</p>
<pre><code class="lang-javascript">router.post(<span class="hljs-string">'/sendtoken'</span>, 
    passwordless.requestToken(
        <span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">(user, delivery, callback)</span> {</span>
            <span class="hljs-keyword">if</span>(delivery === <span class="hljs-string">'sms'</span>)
                <span class="hljs-comment">// lookup phone number</span>
            <span class="hljs-keyword">else</span> <span class="hljs-keyword">if</span>(delivery === <span class="hljs-string">'email'</span>)
                <span class="hljs-comment">// lookup email</span>
        }),
    <span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">(req, res)</span> {</span>
          res.render(<span class="hljs-string">'sent'</span>);
});
</code></pre>
<h3 id="modify-lifetime-of-a-token">Modify lifetime of a token</h3>
<pre><code class="lang-javascript"><span class="hljs-comment">// Lifetime in ms for the specific delivert strategy</span>
passwordless.addDelivery(<span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">(tokenToSend, uidToSend, recipient, callback)</span> {</span>
    <span class="hljs-comment">// send the token to recipient</span>
}, { ttl: <span class="hljs-number">1000</span>*<span class="hljs-number">60</span>*<span class="hljs-number">10</span> });
</code></pre>
<h3 id="different-tokens">Different tokens</h3>
<p>Different token generators can be provided by:</p>
<pre><code class="lang-javascript">passwordless.addDelivery(<span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">(tokenToSend, uidToSend, recipient, callback)</span> {</span>
    <span class="hljs-comment">// send the token to recipient</span>
}, {tokenAlgorithm: <span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">()</span> {</span><span class="hljs-keyword">return</span> <span class="hljs-string">'random'</span>}});
</code></pre>
<h3 id="stateless-operation">Stateless operation</h3>
<p>Just remove <code>app.use(passwordless.sessionSupport());</code> middleware. Every request for a restricted resource has then to be combined with a token and uid. Please consider the limited lifetime of tokens. You might want to extend it in such cases.</p>
