<h3 id="demos">Demos</h3>
<ul>
<li><a href="https://github.com/florianheinemann/passwordless/tree/master/examples/simple-mail">Simple-mail</a> - The simplest possible implementation of Passwordless</li>
<li><a href="https://github.com/rbudiharso/smsauth-example">SMSauth-example</a> - Showcase of how to authenticate via SMS using twilio. Thanks to <a href="https://twitter.com/rbudiharso">@rbudiharso</a></li>
</ul>
<h3 id="real-applications">Real applications</h3>
<ul>
<li><a href="https://github.com/florianheinemann/www-passwordless-net">Passwordless.net</a> - source code of this site</li>
</ul>
<p>Aware of any other apps that are published as open source? <a href="https://twitter.com/thesumofall">Let us know</a></p>
