extends layout

block head
	title Who is behind Passwordless?
	meta(name='description', content='Passwordless was initiated by Florian Heinemann to trigger more interest into token-based authentication')

block content
	section.row
		section.large-8.large-centered.columns
			h2.first About
			p Passwords are broken. Inspired by 
				a(href='http://twitter.com/ninjudd') Justin Balthrop's 
				| article 
				cite 
					a(href='https://medium.com/@ninjudd/passwords-are-obsolete-9ed56d483eb') Passwords are Obsolete
				|  token-based authentication is faster to deploy, better for your users, and more secure.
			h3 Author
			p Passwordless was started by 
				a(href='https://twitter.com/thesumofall') Florian Heinemann
				|  who realized that there was basically no fast way for developers to get token-based authentication 
				| onto their sites and who hopes that this module will help to create the deserved awareness around 
				| one-time passwords.
			h3 Contributions
				p ...are more than welcome! Visit 
					a(href='https://github.com/florianheinemann/passwordless') Passwordless' page
					|  on GitHub and comment, raise issues, fork, send pull requests, ask questions, ...
			h3 License (MIT)
			p Copyright (C) 2014 Florian HEINEMANN
			p Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
			p The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
			p THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.