extends layout

block head
	title Passwordless - A node.js/express module for token-based logins
	meta(name='description', content='Token-based authentication middleware for Express & Node.js to replace passwords. One-time passwords (OTPW) delivered via mail or SMS')

block content
	section.row
		section.large-8.large-centered.columns
			h2.first= message
			h3= error.status
			pre #{error.stack}
