extends layout

block content
	section
		header
			h2 Getting started
		aritcle
			p Passwordless is a node.js module for [express](http://expressjs.com/) that allows *authentication* and *authorization* without passwords but simply by sending tokens via email or other means. It utilizes a very similar mechanism as many sites use for resetting passwords. The module was inspired by Justin Balthrop's aritcle "[Passwords are Obsolete](https://medium.com/@ninjudd/passwords-are-obsolete-9ed56d483eb)"
