extends layout

block head
	title Passwordless - Quick start guideline
	meta(name='description', content='An introduction to Passwordless how to integrate token-based authentication into a typical express / node.js HTML website')

block content
	section.row
		section
			h2.first Getting started
			include content/getstarted.html