extends layout

block head
	title Passwordless - A node.js/express module for token-based logins
	meta(name='description', content='Token-based authentication middleware for Express & Node.js to replace passwords. One-time passwords (OTPW) delivered via mail or SMS')

block content
	section.panel
		div.row
			section.large-8.large-centered.columns
				if error
					div.alert-box.alert(data-alert)= error
						a.close(href='#') &times;
				if success
					div.alert-box.success(data-alert)= success
						a.close(href='#') &times;
				header
					h1.text-center.first Passwordless
					h3.subheader.text-center Token-based authentication middleware for Express &amp; Node.js 
					p
						code $ npm install passwordless --save
					p Passwords are broken. Passwordless is an open source framework for token-based 
						| one-time password (OTPW) authentication, which is faster to deploy, better 
						| for your users, and more secure. Curious how it works?
					span.row
						if !user
							p.text-center.small-6.columns
								a.button.small(href='/account/login') Give it a try!
						else
							p.text-center.small-6.columns
								a.button.small(href='/account/logout') Logout &amp; try again!

						div.small-6.columns(class="cb-tip-button" data-content-location="" data-href="//www.coinbase.com/tip_buttons/show_tip" data-to-user-id="549af973e5219ddfb900017d")
						script.
							!function(d,s,id) {var js,cjs=d.getElementsByTagName(s)[0],e=d.getElementById(id);if(e){return;}js=d.createElement(s);js.id=id;js.src="https://www.coinbase.com/assets/tips.js";cjs.parentNode.insertBefore(js,cjs);}(document, 'script', 'coinbase-tips');

	section.row
		div.large-8.large-centered.columns
			include content/index.html