doctype html
html
	head
		title Passwordless - A node.js/express module for passwordless logins
		link(href='https://fonts.googleapis.com/css?family=Fira+Sans:500,400', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='/stylesheets/normalize.css')
		link(rel='stylesheet', href='/stylesheets/github.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		header
			include includes/header
		main
			block content