doctype html
html
	head
		title Passwordless - A node.js/express module for token-based logins
		meta(charset='utf-8')
		meta(name='description', content='Token-based authentication middleware for Express & Node.js to replace passwords. One-time passwords (OTPW) delivered via mail or SMS')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(href='https://fonts.googleapis.com/css?family=Fira+Sans:500,400', rel='stylesheet', type='text/css')
		link(rel='apple-touch-icon-precomposed', href='/favicon-152.png')
		meta(name='msapplication-TileImage', content='/favicon-144.png')
		meta(name='msapplication-TileColor', content='#EFC94C')
		link(rel='stylesheet', href='/min.css')
		script(src='/modernizr.js')
		include includes/ga
	body
		header
			include includes/header
		main
			block content
		script(src='/min.js')
		script.
			$(document).foundation();


