doctype html
html
	head
		title Passwordless - A node.js/express module for passwordless logins
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		header
			include includes/header
		block content