#hero {
	max-width: none;
}

code, pre {
	font-size: 1.125rem;
	text-rendering: optimizelegibility;
	line-height: 1.6;
	margin-bottom: 1.25rem;
}

@media only screen and (min-width: 64.063em) {
	h1.first, h2.first, h3.first {
		padding-top: 6rem;
	}

	aside.first {
		padding-top: 6rem;
	}
}

@font-face {
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Fira Sans'), local('FiraSans-Regular'), url(FiraSans-Regular.woff) format('woff');
}
@font-face {
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 500;
	src: local('Fira Sans Medium'), local('FiraSans-Medium'), url(FiraSans-Medium.woff) format('woff');
}